body{
    background-image: url('../public/ocean.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}
.App {
    text-align: center;
}
.Battleground{
    display: flex;
    align-items: center;
    justify-content: center;
}

