body{
    background-image: url('../public/ocean.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}
.App {
    text-align: center;
}
.message{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    margin: 10px;
    font-style: normal;
    color: beige;
    font-size: 26px;
}
.gameName{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    margin: 0px;
    font-style: normal;
    color: rgb(37, 37, 37);
    font-size: 60px;
}
.remainingShots{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    margin: 0px;
    font-style: normal;
    color: rgb(58, 58, 58);
    font-size: 30px;
}
.Battleground{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Taken from uiverse.io */ 
.glowbutton {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    margin: 10px;
    padding: 0;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #8acaff80,
                -6px -6px 12px #8acaff80;
}
   
.glowbutton::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #17a79f80 0%, #114ca580 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
   
.glowbutton:hover::before {
    width: 9em;
}
  
